@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none;
    color: #00b3ff;
}

.main {
    padding: 2em;
    font-size: 1.2em;
}

.wrapper {
    /* width: 40%; */
    margin: auto;
    max-width: 40em;
}

.wrapper h3 {
    text-align: center;
}

.logo {
    height: 3em;
}

.title {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    text-align: center;
}

.section .content {
    margin-left: 3em;
}

div.all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5em;
}

div#seat-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.seat {
    background-color: #00ff337c;
    margin: 1em;
    width: 6em;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5em;
}

div.seat.taken {
    background-color: #ff3700af;
    cursor: auto;
}


div.admin-buttons {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2em;
    cursor: pointer;
}

div.approve-seat {
    background-color: #00ff7776;    
}

div.decline-seat {
    background-color: #ff660066;
}
